{% extends 'header.html.twig' %}

{% block title %}La ptite météo{% endblock %}

{% block body %}
    <div class = "p-4 grid grid-cols-1 gap-4 text-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text:4xl lg:text-4xl dark:text-white">La ptite météo</h1>
        <div class="flex justify-center items-center">
            {{form_start(form)}}
                {{form_label(form.city)}}
                {{form_widget(form.city)}}
                {{form_errors(form.city)}}
                {{form_rest(form)}}
                <input type="submit" value="Afficher" class="relative inline-flex items-center justify-center p-0.5 px-5 py-2.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            {{form_end(form)}}
        </div>
        {% if meteo.cod is defined and meteo.cod == 200 %}
            <div class = "p-4 grid grid-cols-4 gap-4 text-center">
                <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text:4xl lg:text-4xl dark:text-white">{{meteo.name}}</h1>
                <h2 class="text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text:4xl lg:text-4xl dark:text-white">{{meteo.main.temp -273.15}}°c</h2>

                <div class="flex justify-center items-center">
                    {% if meteo.weather[0].icon == "01d" %} <!-- clear sky -->
                        <img src="https://openweathermap.org/img/wn/01d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "02d" %} <!-- few clouds -->
                        <img src="https://openweathermap.org/img/wn/02d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "03d" %} <!-- scattered clouds -->
                        <img src="https://openweathermap.org/img/wn/03d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "04d" %} <!-- broken clouds -->
                        <img src="https://openweathermap.org/img/wn/04d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "09d" %} <!-- shower rain -->
                        <img src="https://openweathermap.org/img/wn/09d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "10d" %} <!-- rain -->
                        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "11d" %} <!-- thunderstorm -->
                        <img src="https://openweathermap.org/img/wn/11d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "13d" %} <!-- snow -->
                        <img src="https://openweathermap.org/img/wn/13d@2x.png" alt="icon météo" width="120" />
                    {% elseif meteo.weather[0].icon == "50d" %} <!-- mist -->
                        <img src="https://openweathermap.org/img/wn/50d@2x.png" alt="icon météo" width="120" />
                    {% endif %}
                </div>
                
                <p class="text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text:4xl lg:text-4xl dark:text-white">{{meteo.weather[0].main}}: {{meteo.weather[0].description}}</p>
            </div>
        {% else %}
            Cette ville n'existe pas ou n'est pas répertoriée.
        {% endif %}
    </div>
{% endblock %}
